# Editors
*.sublime-*
.idea
build/
tests/_output/*
c3.php

# Third-Party
/vendor
/bin
/logs


# System Files
.DS_Store
Thumbs.db


# Temporary Files
/var/**/*.*


#
# Legacy Stuff
#


# Include directories with .gitkeep
!.gitkeep
