<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="true" >

	<php>
		<ini name="display_errors" value="On" />
		<ini name="memory_limit" value="8M" />
	</php>

	<testsuites>
		<testsuite name="Test Suite">
			<directory>./tests/unit</directory>
		</testsuite>
	</testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./build/coverage" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="./build/logs/clover.xml" />
        <log type="junit" target="./build/logs/junit.xml" logIncompleteSkipped="false" />
    </logging>
</phpunit>
